

<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootcss/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script> 
<script src="changpassword.css"></script>
<script src="changpassword.js"></script>
    <title>Push Notifications Using Node</title>
</head>
<body  ng-controller="forgetPassController">
<div class="banner-down">
    <div class="container">
        <div class="row">
           
                <form  ng-submit="forgetsignup(obj)">
             
                    <div class="col-md-4">
                        <h1>Forget password</h1>
                    </div> 
                    <div class="col-md-4">
                        <div class="form-group">
                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" name="email" ng-model="obj.email" required /> 
                        
                        </div> 
                        <div class="form-group">
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="pass" ng-model="obj.pass" required />
                        </div>
                        <div class="form-group">
                                <label for="psw-repeat"><b>Repeat Password</b></label>
                                <input type="password" placeholder="Repeat Password" name="psw-repeat" ng-model="obj.repeatPass" required />
                        </div>
                    </div> 
                    <div class="col-md-4">
                         <div class="space"></div>
                            <div class="pull-right">
                                <input type='submit' class='btn btn-next btn-primary' id="finish" name='finish' value='Finish' /> 
                            </div>
                        </div>
                    </div> 
                </form>
           
        </div>
    </div>
</div>
</body>

</html>